@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@600&family=Bai+Jamjuree:wght@400;600&family=Barlow:wght@600&family=Fraunces:wght@700;900&family=Hanken+Grotesk:wght@500;700;800&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');
:root{

/*fonts*/
--font-family: 'Hanken Grotesk';
--font-weight-medium:500;
--font-weight-bold:700;
--font-weight-extra-bold:800;
--font-size:18px;
/*colors*/
--Light-red: hsl(0, 100%, 67%);
--Orangey-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue : hsl(241, 81%, 54%);
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
    position: relative;
    font-family: var(--font-family);

}
h3{
    font-weight: var(--font-weight-bold);
    font-size: 1.3rem;
}
.container{
display: flex;
height: 450px;
}

#yourResult{
    background-image: linear-gradient(var(--Light-slate-blue),var(--Light-royal-blue));
    width: 320px;
border-radius: 25px;
position: relative;
display: grid;
place-items: center;
z-index: 100;
}
#yourResult>h3{
    color: var(--Light-lavender);
    padding-top: 20px;
}
#circle{
    text-align: center;
    border-radius:100% ;
    height: 170px;
    width: 170px;
    background-image: linear-gradient(var(--Violet-blue),var(--Persian-blue));
    padding-top: -8px;
}
#circle>p{
text-align: center;
font-weight: var(--font-weight-extra-bold);
color: var(--White);
font-size: 4rem;
padding-top: 30px;
}
small{
    color: var(--Light-lavender);
    font-size: 1rem;
    padding-top: -12px;
}
#congrat{
    font-weight: var(--font-weight-bold);
    font-size: 1.9rem;
    color: var(--Pale-blue);
    margin-top: -10px;
}
#comment{
    color: var(--Light-lavender);
    width: 250px;
    text-align: center;
    position: relative;
    top: -20px;
}
#summary{
    width: 350px;
    background-color: var(--White);
    box-shadow: 7px 7px 60px 2px var(--Pale-blue);
    border-radius: 25px;
    margin-left:-30px;
    z-index: -1;
    display: grid;
    place-items: center;
    
}
#summary>h3{
    color: var(--Dark-gray-blue);
    margin-left: -120px;
margin-top: 15px;
}

#reaction{
    margin-left: 25px;
    width: 230px;
    height: 45px;
    border-radius: 10px ;
    background-color:hsl(0, 60%, 95%);
    display: flex;
    margin-top: -30px;
}
#memory{
    margin-left: 25px;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    background-color:hsl(40, 84%, 95%);
    display: flex;
    margin-top: -35px;
}
#verbal{
    margin-left: 25px;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    background-color:hsl(166, 67%, 92%);
    display: flex;
    margin-top: -35px;
}
#visual{
    margin-left: 25px;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    background-color:hsl(231, 84%, 95%);
    display:flex;
    margin-top: -35px;
}
#button{
    padding-left: 80px;
    padding-top: 10px;
    width: 230px;
    height: 45px;
    background-color:var(--Dark-gray-blue);
    border-radius: 30px;
    color: var(--Pale-blue);
    margin-top: -20px;
    margin-left: 25px;
}
img{
    margin-left: 12px;
    margin-right: 12px;
}
#reaction>p{
    padding-top: 12px;
    color: var(--Light-red);
}
#reaction .score{
    margin-left: 57px;
    color: var(--Light-lavender);

}
#memory>p{
    padding-top: 12px;
color: var(--Orangey-yellow);
}
#memory .score{
    margin-left: 60px;
    color: var(--Light-lavender);

}
#verbal>p{
    padding-top: 12px;
color: var(--Green-teal);
}
#verbal .score{
    margin-left: 73px;
    color: var(--Light-lavender);

}
#visual>p{
    padding-top: 12px;
color: var(--Cobalt-blue);
}
#visual .score{
    margin-left: 75px;
    color: var(--Light-lavender);

}

span{
    font-weight: var(--font-weight-bold);
color: var(--Dark-gray-blue);
}
@media (max-width:350px) {
    #yourResult{
        height: 370px;
        border-top-right-radius:0px ;
        border-top-left-radius:0px ;
    
    }
    #summary{
    background-color: none;
        height: 400px;
        border-radius: 0px;
        box-shadow: none;
    }
    .container{
        display: grid;
        height: 770px;
        overflow: hidden;
    }
    
}